{% extends 'base.html' %}

{% block content %}

{% include 'navbar.html' %}


    <div class="hero"></div>

    <form id="myForm" action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="filter" id="filter">
        <select id="mySelector" class="selector" style="margin-left: 5%; margin-top: 10%; width: fit-content;" onchange="submitForm()" >
            {% for option in options %}
            {% if forloop.counter == selected %}
            <option value="{{option}}" class="option" style="--i:4" selected >{{option}}</option>
            {% else %}
            <option value="{{option}}" class="option" style="--i:4" >{{option}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </form>   
    <script>
        function submitForm() {
            let selector = document.getElementById('mySelector');
            let filter = document.getElementById('filter');
            filter.value = selector.value
            document.getElementById("myForm").submit();
        }
    </script>   

    <table>     
        <tr>
            <th>ID</th>
            <th>PARTY</th>
            <th>STATE / LGA</th>
            <th>STATUS</th>
        </tr>
        {% for cand in election %}
        <tr>
            <td>{{cand.user.vin}}</td>
            <td>{{cand.candidate.party.name}}</td>
            <td>{{cand.user.lga.state.name}} / {{cand.user.lga.name}}</td>
            <td>VOTED</td>
        </tr>
        {% endfor %}
        
        
    </table>

    
    <div>
        <a href="{% url 'vote' %}" class="link ed">Click here to vote</a>
    </div>

{% endblock %}


