{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'navbar.html' %}

<div class="position">
    <div class="wrapper">
        <div class="form-box login">
            <h2 style="color:#0AA91A;">Change Password</h2>
            <form action="{% url 'recover' %}" method="POST">
                {% csrf_token %}

                    <div class="input-box" id="voter-password">
                        <span class="icon"></span>
                        <input name="password" class="pWord" type="password" placeholder="Enter your password" required>
                    </div>
                    <div class="input-box" id="voter-password">
                        <span class="icon"></span>
                        <input name="verifyPassword" class="pWord" type="password" placeholder="Verify password" required>
                    </div>
                    <div class="input-box" id="voter-password">
                        <span class="icon"></span>
                        <input name="otp" class="pWord" type="text" placeholder="Enter the OTP code send to your mail." required>
                    </div>
                    
                    <button id="submit-vote-btn" type="submit" class="register-link">change Password</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
