{% extends 'base.html' %}

{% block content %}

    <style>
        * {
            box-sizing: border-box;
        }
        
        body {
            font-family: poppins;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        div {
            display: block;
            text-align: center;
        }
        
        </style>

    <div id="verifySuccess" style="display: block;">
        {% if color == 'green' %}
        <h1 style="color: green;">{{display_message}} </h1>
        {% else %}
        <h1 style="color: red;">{{display_message}} </h1>
        {% endif %}

    </div>

    <script>
        setTimeout(function() {
          window.location.href = "{% url 'home' %}";  // Replace with your actual URL or view name
        }, 5000);  // 10000 milliseconds = 10 seconds
    </script>

{% endblock %}
