{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'navbar.html' %}

<div class="position">
    <div class="wrapper">
        <div class="form-box login">
            <h2 style="color:#0AA91A;">Vote</h2>
            <form action="{% url 'vote' %}" method="POST">
                {% csrf_token %}
                    <select id="list" class="list">
                        <option value=""> Political Party</option>
                        {% for c in candidates %}
                        <option value="{{c.name}}">{{c.party.name}}</option>
                        {% endfor %}
                    </select>
                    <input name="partyName" type="hidden" id="candidate-input-text-hidden" readonly>

                    <div class="input-box" id="candidate-input">
                        <span class="icon"></span>
                        <input name="candidateName" type="text" id="candidate-input-text" readonly>
                    </div>
    
                    <div class="input-box" id="voter-id">
                        <span class="icon"></span>
                        <input name="voterID" type="text" placeholder="Enter your voter ID" required>
                    </div>

                    <div class="input-box" id="voter-password">
                        <span class="icon"></span>
                        <input name="password" class="pWord" type="password" placeholder="Enter your password" required>
                    </div>
                    
                    <button id="submit-vote-btn" type="submit" class="register-link">Next</button>
            </form>
            <br>
            <a href="{% url 'recover' %}" style="color: green;">Recover password</a>
        </div>
    </div>

    <script>
        var selectElement = document.getElementById('list');
        var inputElement = document.getElementById('candidate-input-text');
        var hiddenInputElement = document.getElementById('candidate-input-text-hidden');
        var btnElement = document.getElementById('submit-vote-btn');
        selectElement.addEventListener('change', function() {
            makeCheck();
        });

        function makeCheck(){
        if (selectElement.selectedIndex){
            inputElement.value = selectElement.value;
            hiddenInputElement.value = selectElement.options[selectElement.selectedIndex].text;
            btnElement.disabled = false
          }else{
          hiddenInputElement.value = null;
          inputElement.value = null;
          btnElement.disabled = true
          }
        }
        makeCheck();
      </script>

</div>

{% endblock %}
