{% extends 'base.html' %}

{% block content %}
    <div id="loadingSpinner" style="display: none;text-align: center;">
      <h3 style="color: green;">Please wait. <br> Matching your face data against database record...</h3>
    </div>
    <form  enctype="multipart/form-data" id="cameraForm"  method="POST" action="{% url 'facials' %}">
        {% csrf_token %}
        <div class="video">
            <div id="overlay" class="overlay"></div>
            <video id="cameraFeed"  autoplay></video>
            <canvas id="photoCanvas" style="display: none;"></canvas>
            <input type="hidden" id="photoInput" name="image">
            <input type="hidden" id="instance_id" name="instance_id" value="{{accred.id}}" required>
        </div>
        <div class="links">
            <button type="submit">Upload Photo</button>
        </div>
        
      </form>

    <!-- <div class="video">
        <div id="overlay" class="overlay"></div>
        <h4> please fit your face into the box </h4>
        <video id="webCam" autoplay playsinline></video>
        <span class="spanErrorMsg"></span>

    </div> -->
    
    <!-- <div class="links">
        <button id="snap">Capture</button>        
    </div> -->
    
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .video {
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            margin: 20px;
        }

        .links{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            padding: 10px;
            background-color: green;
            width: fit-content;
            color: white;
            text-decoration: none;
            border-radius: 10px;
            border: 2px solid black;
        }

        button:hover {
            transform: scale(1.02);
            cursor: pointer;
        }

        .down {
            display: none;
            margin-right: 3.5%;
        }

        .overlay {
            display: none;
            position: absolute;
            z-index: 10;
            
            width: 300px;
            height: 300px;
           border: 2px solid green;
        }

        h4 {
            position: absolute;
            color: aliceblue;
            margin-top: 47%;
        }


    </style>

<script defer>
  async function setupCamera() {
    try {
      const stream = await navigator.mediaDevices.getUserMedia({ video: true });
      const video = document.getElementById('cameraFeed');
      video.style.transform = 'scaleX(-1)';
      video.srcObject = stream;
    } catch (error) {
      console.error('Error accessing camera:', error);
    }
  }

  function dataURLtoFile(dataURL, fileName) {
    const arr = dataURL.split(',');
    const mime = arr[0].match(/:(.*?);/)[1];
    const bstr = atob(arr[1]);
    let n = bstr.length;
    const u8arr = new Uint8Array(n);

    while (n--) {
      u8arr[n] = bstr.charCodeAt(n);
    }

    return new File([new Blob([u8arr], { type: mime })], fileName, { type: mime });
  }

  function showLoadingSpinner() {
    // Display the loading spinner
    document.getElementById('loadingSpinner').style.display = 'block';
  }

  function hideLoadingSpinner() {
    // Hide the loading spinner
    document.getElementById('loadingSpinner').style.display = 'none';
  }

  function captureImage() {
    const video = document.getElementById('cameraFeed');
    const canvas = document.getElementById('photoCanvas');
    const photoInput = document.getElementById('photoInput');

    // Draw the current video frame onto the canvas
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);

    showLoadingSpinner();

    // Convert the canvas content to a data URL representing the image
    const imageDataUrl = canvas.toDataURL('image/jpeg');

    // Convert data URL to a File object
    const file = dataURLtoFile(imageDataUrl, 'captured_image.jpg');

    // Create a FormData object and append the file to it
    const formData = new FormData();
    formData.append('image', file);

    // Add other form data if needed
    formData.append('instance_id', document.getElementById('instance_id').value);

    // Add the CSRF token to the FormData
    const csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    formData.append('csrfmiddlewaretoken', csrfToken);

    // Submit the form using fetch or another method
    const post_url = document.getElementById('cameraForm').action
    // console.log(post_url)
    // console.log(csrfToken)
    // console.log(formData)
    fetch(post_url, {
      method: 'POST',
      body: formData,
    })
      .then(response => {
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }
        return response.json(); //
      })
      .then(data => {
        if (data.success) {
          window.location.href = data.url; 
        } else {
          location.reload();
          // alert('Accesss Was Denied!');
        }
      })
      .catch((error) => {
        console.error('Error:', error);
      }).finally(() => {
        hideLoadingSpinner(); 
      });
  }

  document.getElementById('cameraForm').addEventListener('submit', function (event) {
    // Optionally prevent the form from submitting immediately
    event.preventDefault();

    // Execute the extra function before submitting the form
    captureImage();
  });

  // Initialize the camera when the page loads
  window.onload = setupCamera;
</script>

  
    

{% endblock %}