<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/rahabStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/rahabVoteStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/otpStyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/rahabLogin.css' %}">
    <title>Rahab</title>
</head>
<body>
    {% block content %}

    {% endblock %}
    
    <script src="{% static 'javascript/rahabScript.js' %}"></script>
    <script src="{% static 'javascript/otpScript.js' %}"></script>
    <script src="{% static 'javascript/camScript.js' %}"></script>
</body>
</html>